<!DOCTYPE html>
<html lang ="en">
<head>
	<meta charset="UTF-8">
	<title>Inspire</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Inspirations</h1>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/inspiration">Inspire</a></li>
			
		</ul>
	</nav>



	{{{body}}}
</body>

</html>