#hello{
	color: green;
}

/*no-repeat center center fixed*/
body{

    background: url(http://i.imgur.com/RRUe0Mo.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
 	-moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

li{
	display: inline-block;
}

a{
	text-decoration: none;
	color: white;
}

#size{
	width:300;
	height: 300;
}